<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Protocol_mutating.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2F0D37E1CE32A8000414AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F0D3921CE32A8000414AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F0D39D1CE32A8000414AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
